/* ==========================================================================
   Dark skin # mix(#614385, #516395, 50%)
   ========================================================================== */

/* Colors */
// $background-color: #111111 !default;
// $text-color: #000 !default;
// $primary-color: #CB4335 !default;
// $border-color: mix(#000, $background-color, 50%) !default; //mix(#000, $background-color, 20%)
// $code-background-color: mix(rgb(197, 197, 195), $background-color, 50%) !default;
// $code-background-color-dark: mix(rgb(255, 187, 187), $background-color, 20%) !default;
// $form-background-color: mix(#000, $background-color, 15%) !default;
// $footer-background-color: mix(#444444, $background-color, 0%) !default;
// $link-color: mix($primary-color, $text-color, 40%) !default;
// $link-color-hover: mix(#fff, $link-color, 25%) !default;
// $link-color-visited: mix(#000, $link-color, 25%) !default;
// $masthead-link-color: $text-color !default;
// $masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
// $navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

// .author__urls.social-icons i,
// .author__urls.social-icons .svg-inline--fa,
// .page__footer-follow .social-icons i,
// .page__footer-follow .social-icons .svg-inline--fa  {
//   color: inherit;
// }

// .ais-search-box .ais-search-box--input {
//   background-color: $form-background-color;
// }

